<todo-item
  [todo]="{ id: 1, title: 'todo from shell', description: 'hello world' }"
></todo-item>

<todo-item
  [todo]="{ id: 1, title: 'todo from shell', description: 'hello world' }"
></todo-item>
<todo-item
  [todo]="{ id: 1, title: 'todo from shell', description: 'hello world' }"
></todo-item>
<todo-item
  [todo]="{ id: 1, title: 'todo from shell', description: 'hello world' }"
></todo-item>
<todo-item
  [todo]="{ id: 1, title: 'todo from shell', description: 'hello world' }"
></todo-item>
